{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'toys/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'toys/css/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">Departments</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="{% url 'about' %}">About Student</a>
      <a class="nav-link" href="{% url 'index' %}">All Toys</a>
      <a class="nav-link" href="{% url 'create_toy' %}">Create Toy</a>
    </div>
  </div>
</nav>

<div class="container">
  <ol class="breadcrumb my-4">
    {% block breadcrumb %}
        <li class="breadcrumb-item">Toys</li>
    {% endblock %}
  </ol>
  {% block content %}
  {% endblock %}
</div>

</body>
</html>